build/
cmake-build-*/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
.qmake.stash
Makefile
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.app
*.dmg
*.deb
*.rpm
*.AppImage
.DS_Store
Thumbs.db
.cache/
.vscode/
.idea/
node_modules/
aqtinstall.log
dist/
